* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  {
    background: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    box-shadow: 0 0 5px 0 purple;
}

.item {
    width: 15px;
    height: 15px;
    background: rgb(44, 44, 44);
    transition: all 2s;
}
.item:hover {
    transition-duration: 0s;
}